body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.navbar-background {
    background-color: #2f6ba9;
    border-color: #080808;
}
.timeline{
	padding: 40px;
}
.image-size{
	padding: 10px;
    max-height: 100px;
    float: right;
    border-radius: 28px;
}
.user-name{
	padding-top: 20px;
    max-height: 40px;
    float: left;
    font-size: 20px;
    color: #48e672;
}
.user-message{
	padding-top: 50px;
	padding-left: 0px;
    max-height: 40px;
    float: initial;
    font-size: 15px;
    color: #000000;
}
.heading{
	color: #d6601b;
	font-size: 22px;
}
.conversation{
	margin: 5px;
	border: 1px solid #d6d1d1;
    border-radius: 20px;
    width: 75%;
}